@import url('https://fonts.googleapis.com/css2?family=AbeeZee&display=swap');

body, * {
    font-family: 'AbeeZee', Arial, sans-serif !important;
}

.nav-link, .nav-link:visited, .nav-link:active {
    color: #313715 !important; /* Use your brand brown */
    text-decoration: none !important;
}
.nav-link:hover, .nav-link:focus {
    color: #ffffff !important; /* Optional: highlight color on hover */
    text-decoration: none !important;
}

.rc-slider-track {
    background-color: #313715 !important; /* Brown */
}
.rc-slider-handle {
    border: solid 2px #A80050 !important; /* Red */
    background-color: #E8F0DA !important; /* Light green */
}
.rc-slider-dot {
    border-color: #313715 !important; /* Brown */
}
.rc-slider-mark-text {
    color: #313715 !important; /* Brown */
    font-weight: bold;
}
